<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> <%= title %> </h1>
    <p> <%= display %> </p>
    <% values.forEach(function (value){ %>

      <p>
        Name : <%= value.name %> ; Email : <%= value.email %> ; Author ID = <%= value.id %>
        
      </p>

    
    <% }); %>
    

    
  </body>
</html>
